{% extends "base_project.html" %}

{% block progress_tracker %}
<div class="progress-container">
  <ol class="progress-meter">
    <li class="progress-point done">{% trans "Expert Accept" %}</li><li class="progress-point done">Confirm</li><li class="progress-point done">{% trans "Sign Contract" %}</li><li class="progress-point done">Work on</li><li class="progress-point todo">{% trans "Finish" %}</li><li class="progress-point todo">{% trans "Payment" %}</li>
  </ol>
</div>
{% endblock %}


{% block choice_content %}
<p></p>
<br>
<a href="/messages/write?id_recipients={{ project.expert.user }}&id_subject={{ project.title_text }}" >{% trans "Write messages to the expert" %}</a>
<p>{% trans "The expert has finished this engagement. Do you confirm the work?" %}</p>
<form id="choiceForm" action="{% url 'project:clientconfirm' %}" method="POST">{% csrf_token %}
<div class="dropdown">
<select name="accept_finish">
    <option id="Yes" value="Y">{% trans "Confirm" %}</option>
    <option id="No" value="N">{% trans "The expert needs do more work" %}</option>
    <option id="Appeal" value="A">{% trans "I want to appeal the dispute" %}</option>
</select>
<button class="pure-button pure-button-primary" type="submit" value="Submit" > {% trans "Submit" %} </button>
</form>

<script>
  function getQueryVariable(variable)
  {
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
  }

  $("#choiceForm").submit( function() {
      $('<input />').attr('type', 'hidden')
          .attr('name', "project_id")
          .attr('value', getQueryVariable("project_id"))
          .appendTo('#choiceForm');
      return true;
  });
</script>

{% endblock %}