{% extends "base_project.html" %}
{% load i18n %}

{% block progress_tracker %}
<div class="progress-container">
  <ol class="progress-meter">
    <li class="progress-point done">{" trans "Accept" %}</li><li class="progress-point done">Client Confirm</li><li class="progress-point done">{% trans "Sign Contract" %}</li><li class="progress-point done">Work on</li><li class="progress-point done">{% trans "Finish" %}</li><li class="progress-point done">{% trans "Payment" %}</li>
  </ol>
</div>
{% endblock %}


{% block choice_content %}
<p></p>
<p><b>{% trans "This project is closed" %}<b>.</p>

{% endblock %}