{% extends "base_project.html" %}

{% block progress_tracker %}
<div class="progress-container">
  <ol class="progress-meter">
    <li class="progress-point done">Accept</li><li class="progress-point done">Client Confirm</li><li class="progress-point done">Sign Contract</li><li class="progress-point todo">Work on</li><li class="progress-point todo">Finish</li><li class="progress-point todo">Payment</li>
  </ol>
</div>
{% endblock %}


{% block choice_content %}
<p></p>
<a href="/messages/write?id_recipients={{ project.client.user }}&id_subject={{ project.title_text }}" >Write messages to the client</a>
<p><b>After you received the contract from the client, click "start" button to start working on this project<b>.</p>
<form id="choiceForm" action="{% url 'expertstart' %}" method="POST">{% csrf_token %}
<button class="pure-button pure-button-primary" type="submit" value="Submit" > Start </button>
</form>

<script>
  function getQueryVariable(variable)
  {
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
  }

  $("#choiceForm").submit( function() {
      $('<input />').attr('type', 'hidden')
          .attr('name', "project_id")
          .attr('value', getQueryVariable("project_id"))
          .appendTo('#choiceForm');
      return true;
  });
</script>

{% endblock %}