{% extends "base_project.html" %}

{% block progress_tracker %}
<div class="progress-container">
  <ol class="progress-meter">
    <li class="progress-point done">{% trans "Accept" %}</li><li class="progress-point done">{% trans "Client Confirm" %}</li><li class="progress-point done">{% trans "Sign Contract" %}</li><li class="progress-point done">{% trans "Work on" %}</li><li class="progress-point done">{% trans "Finish" %}</li><li class="progress-point todo">{% trans "Payment" %}</li>
  </ol>
</div>
{% endblock %}


{% block choice_content %}

<p></p>
<p><b>{% trans "Please rate the client or expert you work with" %}</b></p>

<form class="rating" id="choiceForm" action="{% url 'project:rate' %}" method="POST">{% csrf_token %}
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
    <br>
    <textarea name="comment" cols="59" rows="2" placeholder="Write your review here"></textarea>
    <br>
    <button class="pure-button pure-button-primary" type="submit" value="Submit" > {% trans "Submit" %} </button>
</form>

<script>
  function getQueryVariable(variable)
  {
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
  }

  $("#choiceForm").submit( function() {
      $('<input />').attr('type', 'hidden')
          .attr('name', "project_id")
          .attr('value', getQueryVariable("project_id"))
          .appendTo('#choiceForm');
      return true;
  });
</script>

{% endblock %}