{% extends "base_project.html" %}
{% load staticfiles %}

{% block progress_tracker %}
<div class="progress-container">
  <ol class="progress-meter">
    <li class="progress-point todo">{% trans "Expert Accept" %}</li><li class="progress-point todo">{% trans "Confirm" %}</li><li class="progress-point todo">{% trans "Sign Contract" %}</li><li class="progress-point todo">{% trans "Work on" %}</li><li class="progress-point todo">{% trans "Finish" %}</li><li class="progress-point todo">{% trans "Payment" %}</li>
  </ol>
</div>
{% endblock %}


{% block choice_content %}
<a href="{% static file.avatar.name %}">{{ file.file_name }}</a>

{% endblock %}