{% extends "base_project.html" %}

{% block progress_tracker %}
<div class="progress-container">
  <ol class="progress-meter">
    <li class="progress-point done">{% trans "Accept" %}</li><li class="progress-point done">{% trans "Client Confirm" %}</li><li class="progress-point done">{% trans "Sign Contract" %}</li><li class="progress-point done">{% trans "Work on" %}</li><li class="progress-point todo">Finish</li><li class="progress-point todo">{% trans "Payment" %}</li>
  </ol>
</div>
{% endblock %}


{% block choice_content %}
<p></p>
<p><b>{% trans "Expert is working on this engagement" %}<b>.</p>
<br>
<a href="/messages/write?id_recipients={{ project.expert.user }}&id_subject={{ project.title_text }}" >{% trans "Write messages to the expert" %}</a>

{% endblock %}