{% extends "base_project.html" %}

{% block progress_tracker %}
<div class="progress-container">
  <ol class="progress-meter">
    <li class="progress-point todo">{% trans "Accept"% %}</li><li class="progress-point todo">{% trans "Client Confirm" %}</li><li class="progress-point todo">{% trans "Sign Contract" %}</li><li class="progress-point todo">{% trans "Work on" %}</li><li class="progress-point todo">{% trans "Finish" %}</li><li class="progress-point todo">{% trans "Payment" %}</li>
  </ol>
</div>
{% endblock %}


{% block choice_content %}
<p></p>
<p><b>{% trans "An expert will take this engagement soon" %}<b>.</p>

{% endblock %}