{% extends "base_project.html" %}

{% block progress_tracker %}
<div class="progress-container">
  <ol class="progress-meter">
    <li class="progress-point done">Accept</li><li class="progress-point done">Client Confirm</li><li class="progress-point done">Sign Contract</li><li class="progress-point todo">Work on</li><li class="progress-point todo">Finish</li><li class="progress-point todo">Payment</li>
  </ol>
</div>
{% endblock %}


{% block choice_content %}
<p></p>
<p><b>Expert will start working on this after receiving the contract<b>.</p>
<br>
<a href="/messages/write?id_recipients={{ project.expert.user }}&id_subject={{ project.title_text }}" >Write messages to the expert</a>
{% endblock %}