{% extends "base_project.html" %}

{% block progress_tracker %}
<div class="progress-container">
  <ol class="progress-meter">
    <li class="progress-point done">Expert Accept</li><li class="progress-point done">Confirm</li><li class="progress-point done">Sign Contract</li><li class="progress-point done">Work on</li><li class="progress-point done">Finish</li><li class="progress-point todo">Payment</li>
  </ol>
</div>
{% endblock %}


{% block choice_content %}
<p></p>
<p><b>Waiting for the payment from the client<b>.</p>

{% endblock %}