<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  {% load i18n %}
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">


    <script src="{% static 'jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
  </head>

  <body>

    <header class="navbar navbar-dark bg-inverse navbar-static-top bd-navbar" role="banner">
      <div class="container">
        <div class="clearfix">
          <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">
            ☰
          </button>
          <a class="navbar-brand hidden-sm-up" href="/">
            {% trans "Enverest" %}
          </a>
        </div>
        <div class="navbar-toggleable-xs collapse" id="bd-main-nav">
          <nav class="nav navbar-nav">
            <a class="nav-item nav-link active" href="/">{% trans "Enverest" %}</a>
            <a class="nav-item nav-link" id="about_enverest" href="/about_enverest">{% trans "About Enverest" %}</a>
            <a class="nav-item nav-link" id="service" href="/service">{% trans "Service" %}</a>
            <a class="nav-item nav-link" id="how_it_works" href="/how_it_works">{% trans "Howitworks" %}</a>
            <a class="nav-item nav-link" id="partners" href="/partners">{% trans "Partners" %}</a>
            <a class="nav-item nav-link" id="member_benefits" href="/member_benefits">{% trans "Benefits" %}</a>
            <a class="nav-item nav-link" id="team" href="/team">{% trans "Team" %}</a>
            <a class="nav-item nav-link" id="success_story" href="/success_story">{% trans "Success Story" %}</a>
            <a class="nav-item nav-link" id="payment" href="/payment">{% trans "Payment" %}</a>
          </nav>
          <nav class="nav navbar-nav pull-xs-right">
            <a class="nav-item nav-link" href="javascript:set_language('{% url 'set_language' %}', 'zh-hans')">
              <img src="{% static 'images/internalization/china_chinese_flag_circle-512.png' %}" alt="Card image cap" style="height: 18px; width: 18px;">
            </a>
            <a class="nav-item nav-link" href="javascript:set_language('{% url 'set_language' %}', 'en')">
              <img src="{% static 'images/internalization/round_english.png' %}" alt="Card image cap" style="height: 16px; width: 16px;">
            </a>
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" id="login" href="/account/logout">{% trans "Sign Out" %}</a>
            <a class="nav-item nav-link" id="signup" href="/messages">{% trans "Messages" %}</a>
            <a class="nav-item nav-link" id="signup" href="/profile/{{user.get_username}}">{% trans "My Profile" %}</a>
            {% else %}
            <a class="nav-item nav-link" id="login" href="/account/login">{% trans "Sign In" %}</a>
            <a class="nav-item nav-link" id="signup" href="/account/signup">{% trans "Sign Up" %}</a>
            {% endif %}
          </nav>
        </div>
      </div>
    </header>

    <div class="container">
    <!-- flash messages -->
    {% if messages %}
    <br>
    {% load pinax_theme_bootstrap_tags %}
    {% for message in messages %}
        <div class="alert fade in {% get_message_tags message %}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
    {% block body %}{% endblock %}
    </div> <!-- for Container -->

    <div class="container">
      <footer class="footer clearfix">
        <ul class="footer-list">
            <li class="footer-list-item">
              <a class="footer-list-link" href="/pages/about-us">About</a>
            </li>

            <li class="footer-list-item">
              <a class="footer-list-link" href="/pages/terms-of-service">Terms</a>
            </li>

            <li class="footer-list-item">
              <a class="footer-list-link" href="/pages/privacy-policy">Privacy</a>
            </li>

            <li class="footer-list-item">
              <a class="footer-list-link" href="/pages/our-license">Licenses</a>
            </li>

            <li class="footer-list-item">
              <a class="footer-list-link" href="/pages/faq">FAQ</a>
            </li>
        </ul>
      </footer>
    </div> <!-- for Container -->

  </body>
  <script>
    function set_language(language_url, language_code){
      data = {"language": language_code,
              "csrfmiddlewaretoken": '{{ csrf_token }}',
              "next": "/"
             };
      $.post(
        language_url,
        data,
        function(data, status){
          window.location.reload();
        }
      );

    }
  </script>
</html>

