<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  {% load i18n %}
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">


    <script src="{% static 'jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
  </head>

  <body>

    <header class="navbar navbar-dark bg-inverse navbar-static-top bd-navbar" role="banner">
      <div class="container">
        <div class="clearfix">
          <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">
            ☰
          </button>
          <a class="navbar-brand hidden-sm-up" href="/">
            {% trans "Enverest" %}
          </a>
        </div>
        <div class="navbar-toggleable-xs collapse" id="bd-main-nav">
          <nav class="nav navbar-nav">
            <a class="nav-item nav-link active" href="/">{% trans "Enverest" %}</a>
            <a class="nav-item nav-link" href="/about_enverest">{% trans "About Enverest" %}</a>
            <a class="nav-item nav-link" href="/service">{% trans "Service" %}</a>
            <a class="nav-item nav-link" href="/how_it_works">{% trans "Howitworks" %}</a>
            <a class="nav-item nav-link" href="">{% trans "Partners" %}</a>
            <a class="nav-item nav-link" href="/member_benefits">{% trans "Benefits" %}</a>
            <a class="nav-item nav-link" href="/team">{% trans "Team" %}</a>
            <a class="nav-item nav-link" href="">{% trans "News Blog" %}</a>
            <a class="nav-item nav-link" href="/payment">{% trans "Payment" %}</a>
          </nav>
          <ul class="nav navbar-nav pull-xs-right">
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language" style="color:#34383A">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input style="color:#34383A" type="submit" value="Language/语言"/>
            </form>
          </ul>
        </div>
      </div>
    </header>

    <div class="container">
    {% block content %}{% endblock %}
    {% block body %}{% endblock %}
    </div> <!-- for Container -->

    <div class="container">
      <footer class="footer clearfix">
        <ul class="footer-list">
            <li class="footer-list-item">
              <a class="footer-list-link" href="/pages/about-us">About</a>
            </li>

            <li class="footer-list-item">
              <a class="footer-list-link" href="/pages/terms-of-service">Terms</a>
            </li>

            <li class="footer-list-item">
              <a class="footer-list-link" href="/pages/privacy-policy">Privacy</a>
            </li>

            <li class="footer-list-item">
              <a class="footer-list-link" href="/pages/our-license">Licenses</a>
            </li>

            <li class="footer-list-item">
              <a class="footer-list-link" href="/pages/faq">FAQ</a>
            </li>
        </ul>
      </footer>
    </div> <!-- for Container -->

  </body>
</html>

