{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">
<br>
<br>
<br>


<div class="row m-b-lg">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    <h4>
      <strong>{% trans "What's Enverest" %}</strong>
    </h4>
    <p class="m-b-lg">
      {% trans "Enverest is consisted of dedicated consultants (Partners) and a diversified expert network (Experts) that share the passion and mission to  promote innovation & entrepreneurship. We provide expertise to help clients achieve accelerated growth and sustained global success." %}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <h4 class="card-title">{% trans "Who We Are" %}</h4>
        <p class="card-text">{% trans "Everest team is committed to help fast-growing companies to achieve accelerated growth and sustained global success." %}</p>
        <a href="#" class="btn btn-primary">{% trans "Learn More" %}</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_2.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <h4 class="card-title">{% trans "What We Do" %}</h4>
        <p class="card-text">{% trans "Our partners and experts share knowledge, expertise and network to provide on-demand advisory services for our clients to thrive." %}</p>
        <a href="#" class="btn btn-primary">{% trans "Learn More" %}</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <h4 class="card-title">{% trans "Services" %}</h4>
        <p class="card-text">{% trans "We provide fast-growing companies affordable, high-quality, and widely accessible advisory services. Together, we offer customized solutions to meet our clients' needs, particularly in developing and executing strategic initiatives for fast growth and global market expansion." %}</p>
        <a href="#" class="btn btn-primary">{% trans "Learn More" %}</a>
      </div>
    </div>
  </div>
</div>
</div> <!-- for Container -->
{% endblock %}
