{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<script>
  $(document).ready(function(){
    $(".nav-item.nav-link").removeClass("active");
    $('#about_us').addClass('active')
  });
</script>


<div class="container">
<br>
<br>
<br>


<div class="row m-b-lg">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    <h4>
      <strong>{% trans "What's Enverest" %}</strong>
    </h4>
    <p class="m-b-lg">
      {% trans "Enverest enables Chinese and Asian enterprises and startups to engage industry experts and advisors to innovate and internationalize. Headquartered in Silicon Valley, Enverest has branches in New York, Singapore and Beijing. With world-class experts in high tech, life sciences, new energy & materials, we offer 3 types of services: Enverest Experts - Business expertise, on-demand, Enverest Solutions - Customized and deep-dive consulting, Enverest Advisors - Entrepreneurship advisory." %}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/about_us/about_us.png' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <h4 class="card-title">{% trans "Who We Are" %}</h4>
        <p class="card-text">{% trans "Everest team is committed to help fast-growing companies to achieve accelerated growth and sustained global success." %}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/about_us/what_we_do.png' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <h4 class="card-title">{% trans "What We Do" %}</h4>
        <p class="card-text">{% trans "Our partners and experts share knowledge, expertise and network to provide on-demand advisory services for our clients to thrive." %}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/about_us/services.png' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <h4 class="card-title">{% trans "Services" %}</h4>
        <p class="card-text">{% trans "We provide affordable, high-quality, accessible, and customized solutions to meet the needs of fast-growing companies" %}</p>
      </div>
    </div>
  </div>
</div>



<hr>

<div class="row m-b-lg">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    <h4>
      <strong>{% trans "Meet the experts" %}</strong>
    </h4>
  </div>
</div>


<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/simon_cen.jpg' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Simon Cen" %}</h4>
    <a href="https://www.linkedin.com/in/simon-cen-岑水明-7038341a"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "Managing Partner, Enverest" %}</p>
    <p>{% trans "Expertise: Strategy, Business Development, Operations, Supply Chain, M&A, Entrepreneurship" %}</p>
    <p>{% trans "Industry: Hi-tech, Management Consulting, Transportation / Logistics" %}</p>
    <p>{% trans "Previous: Mckinsey, Apple, UPS; Cornell, Georgia Tech, ZJU" %}</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/alex_zhang.png' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Alex Zhang" %}</h4>
    <a href="https://www.linkedin.com/in/alexjzhang"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "Managing Partner, Enverest" %}</p>
    <p>{% trans "Expertise: Marketing, Business Development, M&A, Entrepreneurship" %}</p>
    <p>{% trans "Industry: Life Sciences, Bio-tech, Management Consulting" %}</p>
    <p>{% trans "Previous: Amgen, Thermo Fisher Scientific; Texas A&M, Cornell, SDU" %}</p>
  </div>
</div>


<br>

<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/galvin_fan.png' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Galvin Fan" %}</h4>
    <a href="https://www.linkedin.com/in/guangbinfan"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "Venture Partner, Enverest" %}</p>
    <p>{% trans "Expertise: Strategy, Business Development, Entrepreneurship, Incubation and Investment" %}</p>
    <p>{% trans "Industry: Hi-Tech, Virtual Reality, Smartphone, Mobile Internet, IoT, Smart Home, SNS" %}</p>
    <p>{% trans "Previous: Huawei, Intel, Startups, University of Mississippi; UA, RUC, SDU" %}</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/fang_gao.png' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Feng Gao" %}</h4>
    <a href="https://www.linkedin.com/in/feng-gao-11702515"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "Venture Partner, Enverest" %}</p>
    <p>{% trans "Expertise: Big Data Analytics, Renewable Energy, Smart Grid, Electricity Markets, Power System Analysis" %}</p>
    <p>{% trans "Industry: Power and Utility, CleanTech, IoT" %}</p>
    <p>{% trans "Previous: National Grid, ABB; Iowa State, Tsinghua" %}</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/Ya-Ru_Chen.jpg' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Ya-Ru Chen" %}</h4>
    <a href="https://www.linkedin.com/in/ya-ru-chen-17871712"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "Academic Dean for China Initiatives and Nicholas H. Noyes Professor of Management, ​Professor of Global Business, Johnson Graduate School of Management, Cornell University (Enverest Advisor)" %}</p>
    <p>{% trans "Expertise: Strategy and Management, Management Consulting, Data Analysis" %}</p>
    <p>{% trans "Industry: Business School Education and Research" %}</p>
    <p>{% trans "Previous: Cornell-Tsinghua FMBA Program, Stern School of Business, NYU; Columbia University" %}</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/Huazhang_Shen.jpg' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Huazhang Shen" %}</h4>
    <a href="https://www.linkedin.com/in/hzshen"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "Co-founder and CTO, Kalading (Enverest Advisor)" %}</p>
    <p>{% trans "Expertise: Entrepreneurship, Product Design and Management, Social Marketing, Project Management" %}</p>
    <p>{% trans "Industry: Mobile Internet, Bio-tech" %}</p>
    <p>{% trans "Previous: Kalading, Golfii, GeoWok, Innovation Game International; Cal-tech, USTC" %}</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/Shawn_Lee.png' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Shawn Lee" %}</h4>
    <a href="https://www.linkedin.com/in/peptide"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "CEO, American Peptide Company (Enverest Advisor)" %}</p>
    <p>{% trans "Expertise: Entrepreneurship, FDA Regulatory, M&A, Strategic Partnership" %}</p>
    <p>{% trans "Industry: Life Sciences, Bio-tech" %}</p>
    <p>{% trans "Previous: American Peptide Company; UC-Berkeley, Wuhan University" %}</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/Brandon_Wang.jpg' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Brandon Wang" %}</h4>
    <a href="https://www.linkedin.com/in/wangbrandon"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "Group Director and Chief Strategy Officer, Cadence (Enverest Advisor)" %}</p>
    <p>{% trans "Expertise: Entrepreneurship, Strategy, Management Consulting, Engineering Management, Strategic Partnership" %}</p>
    <p>{% trans "Industry: Semiconductor, Hi-tech" %}</p>
    <p>{% trans "Previous: Cadence, ARM, CASPA; Wharton, Stanford, Zhejiang University" %}</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/Jeff_Wu.jpg' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Jeff Wu" %}</h4>
    <a href="https://www.linkedin.com/in/jeff-wu-9ba5a71"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "COO, ScaleFlux" %}</p>
    <p>{% trans "Expertise: Entrepreneurship, Cloud Computing, Project Management, Product Development, Strategic Partnership" %}</p>
    <p>{% trans "Industry: Storage, Software" %}</p>
    <p>{% trans "Previous: ScaleFlux, Pactera, Wenditel; USC, Tongji University" %}</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/Cheni_Kwok.jpg' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Cheni Kwok" %}</h4>
    <a href="https://www.linkedin.com/in/cheni-kwok-ph-d-clp-郭珍仪-499b67"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "Managing Partner, Linear Dreams" %}</p>
    <p>{% trans "Expertise: Business Development, Corporate Development" %}</p>
    <p>{% trans "Industry: Life Sciences, Bio-tech, Pharmaceuticals, Management Consulting" %}</p>
    <p>{% trans "Previous: Poniard Pharmaceuticals, Celera, Exelixis, GSK; Cambridge, Imperial College" %}</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/Tao_Chen.jpg' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Tao Chen" %}</h4>
    <a href="https://www.linkedin.com/in/taochenngs"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "CEO, ParagonGenomics" %}</p>
    <p>{% trans "Expertise: Product Development & Management, Marketing, Sales, Corporate Development, Entrepreneurship" %}</p>
    <p>{% trans "Industry: Life Sciences" %}</p>
    <p>{% trans "Previous: Thermo Fisher Scientific, Life Technologies, Pfizer; Harvard, PKU" %}</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/Elanie_Lu.jpg' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Elanie Lu" %}</h4>
    <a href="https://www.linkedin.com/in/elainelu"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "CEO, Visbit" %}</p>
    <p>{% trans "Expertise: Product Marketing, Mobile User Acquisition, Online Marketing and Promotion" %}</p>
    <p>{% trans "Industry: Mobile Internet and Gaming" %}</p>
    <p>{% trans "Previous: Tango, Changyou, Microsoft, Starwood; Cornell, Fudan" %}</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/Phoebe_Chen.jpg' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Phoebe Chen" %}</h4>
    <a href="https://www.linkedin.com/in/li-phoebe-chen-b53b8515"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "Copywriter and Content Strategist, Magnus Communications" %}</p>
    <p>{% trans "Expertise: Marketing Communications, Advertising/App Content Design & Localization, Copy-writing, Copy-editing" %}</p>
    <p>{% trans "Industry: Marketing and Advertising, Management Consulting" %}</p>
    <p>{% trans "Previous: Uber, McKinsey, Roland Berger, United Nations; U Michigan, Bath, HUST" %}</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/Ruming_Liu.jpg' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Ruming Liu" %}</h4>
    <a href="https://www.linkedin.com/in/ruming-liu-3bb44510"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "Founding Partner, MagStone Law LLP " %}</p>
    <p>{% trans "Expertise: Corporate Law, M&A, Joint Ventures, Corporate Governance, Cross-boarder Transactions" %}</p>
    <p>{% trans "Industry: Legal Advice" %}</p>
    <p>{% trans "Previous: Morrison & Foerster LLP, Jun He Law; U Penn, HKU, PKU" %}</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/Michael_Wu.jpg' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Michael Wu" %}</h4>
    <a href="https://www.linkedin.com/in/michael-wu-cpa-cgma-830b4a12"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "Tax Partner (CPA, CGMA), SingerLewak LLP " %}</p>
    <p>{% trans "Expertise: Corporate Tax, International Tax, M&A, Accounting, Auditing" %}</p>
    <p>{% trans "Industry: Tax Advisory, Corporate Accounting" %}</p>
    <p>{% trans "Previous: Ernst & Young, PwC; MBA in Taxation, BS in Accounting" %}</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <img src="{% static 'images/person/Huan_Liu.jpg' %}" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
  </div>
  <div class="col-md-9">
    <h4>{% trans "Huan Liu" %}</h4>
    <a href="https://www.linkedin.com/in/huanliu"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
    <p>{% trans "CEO, Vimo Labs" %}</p>
    <p>{% trans "Expertise: Product Management, Software Engineering, Cloud Computing, Data Analytics, Entrepreneurship" %}</p>
    <p>{% trans "Industry: Mobile Computing, Software, Management Consulting" %}</p>
    <p>{% trans "Previous: Accenture, Pacific Broadband Communications, HP, Intel; Stanford, UCLA, HIT" %}</p>
  </div>
</div>



<!--
<div class="row">

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/person/Brandon_Wang.jpg' %}">
        <h4 class="card-title">{% trans "Brandon Wang" %}</h4>
        <p class="card-text">{% trans "Group Director and Chief Strategy Officer, Cadence (Enverest Advisor)" %}</p>
        <p class="card-text">{% trans "Expertise: Entrepreneurship, Strategy, Management Consulting, Engineering Management, Strategic Partnership" %}</p>
        <p class="card-text">{% trans "Industry: Semiconductor, Hi-tech" %}</p>
        <p class="card-text">{% trans "Previous: Cadence, ARM, CASPA; Wharton, Stanford, Zhejiang University" %}</p>
        <a href="https://www.linkedin.com/in/wangbrandon"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/person/Jeff_Wu.jpg' %}">
        <h4 class="card-title">{% trans "Jeff Wu" %}</h4>
        <p class="card-text">{% trans "COO, ScaleFlux" %}</p>
        <p class="card-text">{% trans "Expertise: Entrepreneurship, Cloud Computing, Project Management, Product Development, Strategic Partnership" %}</p>
        <p class="card-text">{% trans "Industry: Storage, Software" %}</p>
        <p class="card-text">{% trans "Previous: ScaleFlux, Pactera, Wenditel; USC, Tongji University" %}</p>
        <a href="https://www.linkedin.com/in/jeff-wu-9ba5a71"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/person/Cheni_Kwok.jpg' %}">
        <h4 class="card-title">{% trans "Cheni Kwok" %}</h4>
        <p class="card-text">{% trans "Managing Partner, Linear Dreams" %}</p>
        <p class="card-text">{% trans "Expertise: Business Development, Corporate Development" %}</p>
        <p class="card-text">{% trans "Industry: Life Sciences, Bio-tech, Pharmaceuticals, Management Consulting" %}</p>
        <p class="card-text">{% trans "Previous: Poniard Pharmaceuticals, Celera, Exelixis, GSK; Cambridge, Imperial College" %}</p>
        <a href="https://www.linkedin.com/in/cheni-kwok-ph-d-clp-%E9%83%AD%E7%8F%8D%E4%BB%AA-499b67"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
      </div>
    </div>
  </div>

</div> -->


<hr>


<div class="row m-b-lg">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    <h4>
      <strong>{% trans "Alliance" %}</strong>
    </h4>
  </div>
</div>

<div class="row">

  <div class="col-md-3 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/partner/zhongguancun.jpg' %}" alt="Card image cap" style="height: 95px; width: 100%; display: block;">
    </div>
  </div>

  <div class="col-md-3 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/partner/hanhai_investment.jpg' %}" alt="Card image cap" style="height: 95px; width: 100%; display: block;">
    </div>
  </div>

  <div class="col-md-3 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/partner/hainabaichuan.png' %}" alt="Card image cap" style="height: 95px; width: 100%; display: block;">
    </div>
  </div>

  <div class="col-md-3 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/partner/qinghua.jpg' %}" alt="Card image cap" style="height: 95px; width: 100%; display: block;">
    </div>
  </div>

  <div class="col-md-3 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/partner/magstone_law.png' %}" alt="Card image cap" style="height: 95px; width: 100%; display: block;">
    </div>
  </div>

  <div class="col-md-3 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/partner/ivy_china_forum.jpg' %}" alt="Card image cap" style="height: 95px; width: 100%; display: block;">
    </div>
  </div>

  <div class="col-md-3 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/partner/china_sf.png' %}" alt="Card image cap" style="height: 95px; width: 100%; display: block;">
    </div>
  </div>

  <div class="col-md-3 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/partner/svc_angel.png' %}" alt="Card image cap" style="height: 95px; width: 100%; display: block;">
    </div>
  </div>

  <div class="col-md-3 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/partner/bio_club.png' %}" alt="Card image cap" style="height: 95px; width: 100%; display: block;">
    </div>
  </div>
</div>


</div> <!-- for Container -->
{% endblock %}
