{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">
<br>
<br>
<br>


<div class="row m-b-lg">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    <h4>
      <strong>{% trans "How the expert network platform works" %}</strong>
    </h4>
    <p class="m-b-lg">
      {% trans "The client must become member to subscribe the Enverest Network Service. Once become a member, the client can submit a project request describing the project objectives and preference of the expert profiles. Enverest will match our experts in the database to the requirements of the project, and recommend up to 3 Experts to the member within 24 hours of the request submission. The member would interact with the Experts to work on the project via conference calls, video conferences, IMs, or face-to-face meetings." %}
    </p>
  </div>
</div>

<div class="row m-b-lg">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    <h5>
      {% trans "The clients have two options to subscribe the Enverest Expert Network" %}
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-2 m-b-lg">
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_2.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <h4 class="card-title">{% trans "A 12-month subscription for $?,000" %}</h4>
        <p class="card-text">{% trans "with a 12-month subscription, clients can have up to 20 hours per month to interact with the Experts. There is no limit how many experts the clients can contact during the subscription period." %}</p>
        <a href="#" class="btn btn-primary">{% trans "Learn More" %}</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <h4 class="card-title">{% trans "Pay as you go plan" %}</h4>
        <p class="card-text">{% trans "after paying a $500 annual membership fee, the member will be charged a fee on an hourly basis when interact with the Experts." %}</p>
        <a href="#" class="btn btn-primary">{% trans "Learn More" %}</a>
      </div>
    </div>
  </div>


  <div class="col-md-2 m-b-lg">
  </div>
</div>
</div> <!-- for Container -->
{% endblock %}
