{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<script>
  $(document).ready(function(){
    $(".nav-item.nav-link").removeClass("active");
    $('#how_it_works').addClass('active')


    // http://stackoverflow.com/questions/7862233/twitter-bootstrap-tabs-go-to-specific-tab-on-page-reload-or-hyperlink
    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
    }

    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
        window.scrollTo(0, 0);
    })
  });

</script>
<style>

/* http://stackoverflow.com/questions/18903183/how-to-create-a-responsive-image-in-twitter-bootstrap-3 */
.img-responsive{
  max-width: 100%;
  height: auto;
}

p.sequence{
padding-top: 1em;
margin-bottom: -0.3em;
font-size: 1em;
}

p.procedure{
padding-top: 0em;
font-size: 0.8em;
}

</style>
<div class="container">
<br>
<br>
<br>



<div role="tabpanel">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="client-tab" data-toggle="tab" href="#client" role="tab" aria-controls="client" aria-expanded="true">Clients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="expert-tab" data-toggle="tab" href="#expert" role="tab" aria-controls="expert" aria-expanded="true">Experts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-expanded="true">FAQ</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div role="tabpanel" class="tab-pane fade active in" id="client" aria-labelledby="client-tab" aria-expanded="true">
      <div class="row m-b-lg">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <br>
          <br>
          <h4>
            <strong>{% trans "As a client" %}</strong>
          </h4>
          <br>

          <div class="row">
            <div class="col-sm-2 text-center">
            </div>

            <div class="col-sm-2 text-center">
              <img class="img-responsive" alt="Responsive image" src="{% static 'images/how_it_works/submit_request.png' %}">
              <p class="sequence"><strong>1</strong></p>
              <p class="procedure"><strong>Submit Request</strong></p>
            </div>

            <div class="col-sm-2 text-center">
              <img class="img-responsive" alt="Responsive image" src="{% static 'images/how_it_works/accept_recommended_expert.png' %}">
              <p class="sequence"><strong>2</strong></p>
              <p class="procedure"><strong>Accept Recommended Expert</strong></p>
            </div>

            <div class="col-sm-2 text-center">
              <img class="img-responsive" alt="Responsive image" src="{% static 'images/how_it_works/engage_expert.png' %}">
              <p class="sequence"><strong>3</strong></p>
              <p class="procedure"><strong>Engage Expert</strong></p>
            </div>

            <div class="col-sm-2 text-center">
              <img class="img-responsive" alt="Responsive image" src="{% static 'images/how_it_works/rate.png' %}">
              <p class="sequence"><strong>4</strong></p>
              <p class="procedure"><strong>Rate and Pay</strong></p>
            </div>

            <div class="col-sm-1 text-center">
            </div>
          </div>

        </div>
      </div>


      <div class="row m-b-lg">
        <div class="col-sm-8 col-sm-offset-2">
          <br>
          <br>
          <h4 class="text-center">
            <strong>{% trans "How the expert network platform works" %}</strong>
          </h4>
          <br>
          <p>
            {% trans "1) Signup to the Enverest Network Service, and submit an engagement request describing the project objectives and preference of the expert profiles" %}
          </p>
          <p>
            {% trans "2) Accept the expert that Enverest would recommend to match the requirements of the engagement" %}
          </p>
          <p>
            {% trans "3) Interact with the Experts to work on the engagement via conference calls, video conferences, IMs, or face-to-face meetings" %}
          </p>
          <p>
            {% trans "4) After the engagement is complete, rate the Expert’s service, and make payment" %}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 m-b-lg">
        </div>

        <div class="col-md-4 m-b-lg">
          <div class="card">
            <h4 class="card-header">{% trans "Client Benefits" %}</h4>
            <div class="card-block">
              <ul>
                <li class="card-text">{% trans "On-demand access to global expertise" %}</li>
                <li class="card-text">{% trans "Explore wide range of perspectives" %}</li>
                <li class="card-text">{% trans "Connect to the right people instantly" %}</li>
                <li class="card-text">{% trans "Save time and cost" %}</li>
              </ul>
            </div>
          </div>
        </div>


        <div class="col-md-4 m-b-lg">
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="expert" role="tabpanel" aria-labelledby="expert-tab">

      <div class="row m-b-lg">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <br>
          <br>
          <h4>
            <strong>{% trans "As an expert" %}</strong>
          </h4>

          <div class="row">
            <div class="col-sm-2 text-center">
            </div>

            <div class="col-sm-2 text-center">
              <img class="img-responsive" alt="Responsive image" src="{% static 'images/how_it_works/accept_recommended_engagement.png' %}">
              <p class="sequence"><strong>1</strong></p>
              <p class="procedure"><strong>Accept Recommended Engagement</strong></p>
            </div>

            <div class="col-sm-1 text-center">
            </div>

            <div class="col-sm-2 text-center">
              <img class="img-responsive" alt="Responsive image" src="{% static 'images/how_it_works/engage_client.png' %}">
              <p class="sequence"><strong>2</strong></p>
              <p class="procedure"><strong>Engage Client</strong></p>
            </div>

            <div class="col-sm-1 text-center">
            </div>

            <div class="col-sm-2 text-center">
              <img class="img-responsive" alt="Responsive image" src="{% static 'images/how_it_works/rate_and_get_paid.png' %}">
              <p class="sequence"><strong>3</strong></p>
              <p class="procedure"><strong>Rate and Get Paid</strong></p>
            </div>

            <div class="col-sm-1 text-center">
            </div>
          </div>
        </div>
      </div>



      <div class="row m-b-lg">
        <div class="col-sm-8 col-sm-offset-2">
          <br>
          <br>
          <h4 class="text-center">
            <strong>{% trans "How the expert network platform works" %}</strong>
          </h4>
          <br>
          <p>
            {% trans "1) Review the engagement recommended by Enverest, and accept the recommendation if he/she agrees to take on the engagement" %}
          </p>
          <p>
            {% trans "2) Interact with the client to work on the engagement via conference calls, video conferences, IMs, or face-to-face meetings" %}
          </p>
          <p>
            {% trans "3) After the engagement is completed, rate the client and accept the payment from Enverest" %}
          </p>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4 m-b-lg">
        </div>

        <div class="col-md-4 m-b-lg">
          <div class="card">
            <h4 class="card-header">{% trans "Expert Benefits" %}</h4>
            <div class="card-block">
              <ul>
                <li class="card-text">{% trans "Have the pulse of the latest industry trends" %}</li>
                <li class="card-text">{% trans "Interact with corporate officers, investors, and entrepreneurs" %}</li>
                <li class="card-text">{% trans "Work on strategic, thought-provoking projects" %}</li>
                <li class="card-text">{% trans "Competitive compensation from consulting fees and referral fees" %}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4 m-b-lg">
        </div>
      </div>




    </div>
    <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq">
      <br>
      <h5>What is Enverest?</h5>
      <p>Enverest is an online business expertise sharing platform that enables clients to engage experts for on-demand business advisory services. Headquartered in Silicon Valley, Enverest primarily serves startups and SMBs across the Pacific Rim to achieve accelerated growth and sustained global success.</p>

      <h5>What types of business are searching for Experts on Enverest?</h5>
      <ul>
        <li>Growth stage startups</li>
        <li>Small-to-medium sized businesses</li>
        <li>Private equity and venture capital firms</li>
        <li>Asian businesses expanding into the US market</li>
        <li>US-based companies seeking entry into Asian markets</li>
      </ul>

      <h5>Where do the Enverest Experts come from?</h5>
      <p>Most of our experts have more than 10 years of successful experience in their own fields, and hold the title of VP and above.</p>

      <h5>Is the client or expert profile publicly accessible?</h5>
      <p>No. We take your privacy very seriously. Your profile will not be available to anyone unless you start engagement with the Expert/client, while but no other Enverest user will see your profile. Per our Terms of Use, Enverest users are obligated to keep personal information confidential.</p>

      <h5>Can I browse the profiles of all Experts on the platform?</h5>
      <p>Not at this time. Only a number of selected Experts are shown on this website. The privacy of our Experts is very important, and we only allow the client to see the full profile of the recommended Expert after the client accepts the Expert for his/her engagement request.</p>

      <h5>Once I submit an engagement request, how long will it take to get matched?</h5>
      <p>Enverest is committed to respond to any engagement request within 48 hour. We typically make a recommendation of an Expert within 1-5 days. If your project is very urgent, please state it in the request form.</p>

      <h5>Should I price my project using an hourly rate or fixed price?</h5>
      <p>This is entirely up to you. If you have a budget in mind that you cannot exceed and very specific deliverables, we suggest you used a fixed price. If your needs are less defined and you simply need ongoing support, we suggest you use an flat hourly rate of $400 per hour.</p>

      <h5>How does the rating work?</h5>
      <p>We require the clients and the Experts to rate each other upon completion of an engagement. The aggregated ratings are made visible on Enverest platform upon login. If an Expert or client receives aggregate ratings below a certain level, we will consider removing that user from the Enverest platform.</p>

      <h5>What happens if there is a dispute over engagement outcome or payment?</h5>
      <p>In the event of a dispute between clients and experts, Enverest will do our best to resolve the dispute. Both the clients and the expert should send a written complaint to contact@enverest.com </p>

      <h5>Can I pay my Experts outside of the Enverest platform?</h5>
      <p>No. Bypassing the Enverest platform is a serious violation of our Terms of Use and would result in legal action and both parties’ removal from our marketplace.</p>

      <h5>I want to bring an Expert on board full-time. What should I do?</h5>
      <p>There is a buyout clause laid out in our Terms of Use. Please feel free to contact Enverest at contact@enverest.com directly for help with this process.</p>
    </div>
  </div>
</div>






</div> <!-- for Container -->
{% endblock %}
