{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<script>
  $(document).ready(function(){
    $(".nav-item.nav-link").removeClass("active");
    $('#how_it_works').addClass('active')


    // http://stackoverflow.com/questions/7862233/twitter-bootstrap-tabs-go-to-specific-tab-on-page-reload-or-hyperlink
    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
    }

    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
        window.scrollTo(0, 0);
    })
  });

</script>

<style>
p.sequence{
padding-top: 1em;
margin-bottom: -0.3em;
font-size: 1em;
}

p.procedure{
padding-top: 0em;
font-size: 0.8em;
}

</style>
<div class="container">
<br>
<br>
<br>



<div role="tabpanel">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="client-tab" data-toggle="tab" href="#client" role="tab" aria-controls="client" aria-expanded="true">Clients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="expert-tab" data-toggle="tab" href="#expert" role="tab" aria-controls="expert" aria-expanded="true">Experts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-expanded="true">FAQ</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div role="tabpanel" class="tab-pane fade active in" id="client" aria-labelledby="client-tab" aria-expanded="true">
      <div class="row m-b-lg">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <br>
          <br>
          <h4>
            <strong>{% trans "As a member" %}</strong>
          </h4>
          <br>

          <div class="row">
            <div class="col-sm-1 text-center">
            </div>

            <div class="col-sm-2 text-center">
              <img src="{% static 'images/how_it_works/submit_request.png' %}" style="width:100%">
              <p class="sequence"><strong>1</strong></p>
              <p class="procedure"><strong>Submit Request</strong></p>
            </div>

            <div class="col-sm-2 text-center">
              <img src="{% static 'images/how_it_works/accept_recommended_expert.png' %}" style="width:100%">
              <p class="sequence"><strong>2</strong></p>
              <p class="procedure"><strong>Accept Recommended Expert</strong></p>
            </div>

            <div class="col-sm-2 text-center">
              <img src="{% static 'images/how_it_works/make_first_payment.png' %}" style="width:100%">
              <p class="sequence"><strong>3</strong></p>
              <p class="procedure"><strong>Make First Payment</strong></p>
            </div>

            <div class="col-sm-2 text-center">
              <img src="{% static 'images/how_it_works/engage_expert.png' %}" style="width:100%">
              <p class="sequence"><strong>4</strong></p>
              <p class="procedure"><strong>Engage Expert</strong></p>
            </div>

            <div class="col-sm-2 text-center">
              <img src="{% static 'images/how_it_works/rate.png' %}" style="width:100%">
              <p class="sequence"><strong>5</strong></p>
              <p class="procedure"><strong>Rate and Pay</strong></p>
            </div>

            <div class="col-sm-1 text-center">
            </div>
          </div>

        </div>
      </div>


      <div class="row m-b-lg">
        <div class="col-sm-8 col-sm-offset-2">
          <br>
          <br>
          <h4 class="text-center">
            <strong>{% trans "How the expert network platform works" %}</strong>
          </h4>
          <br>
          <p>
            {% trans "1) Signup to the Enverest Network Service, and submit an engagement request describing the project objectives and preference of the expert profiles" %}
          </p>
          <p>
            {% trans "2) Enverest would match our experts in the database to the requirements of the engagement, and reply to the member within 48 hours of the request submission" %}
          </p>
          <p>
            {% trans "3) Accept the Expert and sign the agreement to secure the Expert’s service. The first payment is made online or via bank transfer to Enverest" %}
          </p>
          <p>
            {% trans "4) Interact with the Experts to work on the engagement via conference calls, video conferences, IMs, or face-to-face meetings" %}
          </p>
          <p>
            {% trans "5) After the engagement is complete, rate the Expert’s service, and make the final payment" %}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 m-b-lg">
        </div>

        <div class="col-md-4 m-b-lg">
          <div class="card">
            <h4 class="card-header">{% trans "Client Benefits" %}</h4>
            <div class="card-block">
              <ul>
                <li class="card-text">{% trans "On-demand access to global expertise" %}</li>
                <li class="card-text">{% trans "Explore wide range of perspectives" %}</li>
                <li class="card-text">{% trans "Connect to the right people instantly" %}</li>
                <li class="card-text">{% trans "Save time and cost" %}</li>
              </ul>
            </div>
          </div>
        </div>


        <div class="col-md-4 m-b-lg">
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="expert" role="tabpanel" aria-labelledby="expert-tab">

      <div class="row m-b-lg">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <br>
          <br>
          <h4>
            <strong>{% trans "As an expert" %}</strong>
          </h4>

          <div class="row">
            <div class="col-sm-2 text-center">
            </div>

            <div class="col-sm-2 text-center">
              <img src="{% static 'images/how_it_works/accept_recommended_engagement.png' %}" style="width:100%">
              <p class="sequence"><strong>1</strong></p>
              <p class="procedure"><strong>Accept Recommended Engagement</strong></p>
            </div>

            <div class="col-sm-2 text-center">
              <img src="{% static 'images/how_it_works/agree_on_terms.png' %}" style="width:100%">
              <p class="sequence"><strong>2</strong></p>
              <p class="procedure"><strong>Agree on Terms</strong></p>
            </div>

            <div class="col-sm-2 text-center">
              <img src="{% static 'images/how_it_works/engage_client.png' %}" style="width:100%">
              <p class="sequence"><strong>3</strong></p>
              <p class="procedure"><strong>Engage Client</strong></p>
            </div>

            <div class="col-sm-2 text-center">
              <img src="{% static 'images/how_it_works/rate_and_get_paid.png' %}" style="width:100%">
              <p class="sequence"><strong>4</strong></p>
              <p class="procedure"><strong>Rate and Get Paid</strong></p>
            </div>

            <div class="col-sm-1 text-center">
            </div>
          </div>
        </div>
      </div>



      <div class="row m-b-lg">
        <div class="col-sm-8 col-sm-offset-2">
          <br>
          <br>
          <h4 class="text-center">
            <strong>{% trans "How the expert network platform works" %}</strong>
          </h4>
          <br>
          <p>
            {% trans "1) Review the engagement recommended by Enverest, and accept the recommendation if he/she agrees to take on the engagement" %}
          </p>
          <p>
            {% trans "2) Finalize and agree to terms with the client who submits the engagement request, sign all required paperwork" %}
          </p>
          <p>
            {% trans "3) Interact with the client to work on the engagement via conference calls, video conferences, IMs, or face-to-face meetings" %}
          </p>
          <p>
            {% trans "4) After the engagement is completed, rate the client and accept the payment from Enverest" %}
          </p>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4 m-b-lg">
        </div>

        <div class="col-md-4 m-b-lg">
          <div class="card">
            <h4 class="card-header">{% trans "Expert Benefits" %}</h4>
            <div class="card-block">
              <ul>
                <li class="card-text">{% trans "Have the pulse of the latest industry trends" %}</li>
                <li class="card-text">{% trans "Interact with corporate officers, investors, and entrepreneurs" %}</li>
                <li class="card-text">{% trans "Work on strategic, thought-provoking projects" %}</li>
                <li class="card-text">{% trans "Competitive compensation from consulting fees and referral fees" %}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4 m-b-lg">
        </div>
      </div>




    </div>
    <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq">
      <br>
      <h5>Who are the Enverest Experts?</h5>
      <p>Enverest invites an exclusive group of business leaders and domain experts. Most of our experts have more than 10 years of successful experience in their own field, and hold the title of VP and above</p>

      <h5>How do I pay for the services?</h5>
      <p>You pay the service fees directly to Enverest, and Enverest will pay the experts less a 25% service fee. </p>

      <h5>Can I hire the Experts to work for me full time?</h5>
      <p>Yes, you can. However, if your first contact with the expert is made through Enverest, you have to pay Enverest a finders fee equaling a two-month salary of the full time position. As an alternative, Enverest offers you an options to request the Expert’s service on a recurring basis, without the cost associated with a full time employee.</p>
    </div>
  </div>
</div>






</div> <!-- for Container -->
{% endblock %}
