{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="container">


  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>

  <!-- spaces -->
  <div class="row">
    <div class="col-lg-12">
      <img src="{% static 'images/home.jpg' %}" alt="Generic placeholder image" style="width:100%;">
    </div>
  </div>

  <hr>

<div class="row m-b-lg">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    <h4>
      <strong>{% trans "Meet Professionals and Industry Leaders" %}</strong>
    </h4>
    <p class="m-b-lg">
      {% trans "Get a sense of the 2,000+ Professionals in our network. We provide expertise to help clients achieve accelerated growth and sustained global success." %}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/simon_cen.jpg' %}">
        <h4 class="card-title">{% trans "Simon Cen" %}</h4>
        <p class="card-text">{% trans "Built strong expertise in Business Development, Operations and Supply Chain Management." %}</p>
        <a href="#" class="btn btn-primary">Hire</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_2.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/jeff_weiner.jpg' %}">
        <h4 class="card-title">{% trans "Jeff Weiner" %}</h4>
        <p class="card-text">{% trans "Some quick example text to build on the card title and make up the bulk of the card's content." %}</p>
        <a href="#" class="btn btn-primary">Hire</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/alex_zhang.jpg' %}">
        <h4 class="card-title">{% trans "Alex J. Zhang" %}</h4>
        <p class="card-text">{% trans "Business development and marketing leader with extensive experience and network in life sciences" %}</p>
        <a href="#" class="btn btn-primary">Hire</a>
      </div>
    </div>
  </div>
</div>

  <hr>

<div class="row row-padded text-center">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h4><strong>{% trans "Why choose Enverest?" %}</strong></h4>
    <p class="m-b-md">{% trans "Enverest provides fast-growing companies affordable, high-quality, and widely accessible advisory services. Together, we offer customized solutions to meet our clients' needs, particularly in developing and executing fast-growth initiatives, and expanding market globally." %}</p>
    <a class="btn btn-primary" href="/pages/faq">Read more in our FAQ</a>
  </div>
</div>

<div class="row row-padded homepage-grid p-t text-center">
  <div class="col-sm-4">
    <img class="homepage-grid-icon" src="//cdn.shopify.com/s/files/1/0691/5403/t/108/assets/unlimited-icon.svg?6412267337190013828">
    <h5><strong>{% trans "Project Management" %}</strong></h5>
    <p class="text-muted">{% trans "Leading fast-growing companies to apply world-class solutions and practices for global business success. Leading fast-growing companies to apply world-class solutions and practices for global business success." %}</p>
  </div>

  <div class="col-sm-4">
    <img class="homepage-grid-icon" src="//cdn.shopify.com/s/files/1/0691/5403/t/108/assets/script-icon.svg?6412267337190013828">
    <h5><strong>{% trans "Close partnership" %}</strong></h5>
    <p class="text-muted">{% trans "All our themes have a simple multiple use license. Helping clients develop and execute management initiatives to​ achieve accelerated growth." %}</p>
  </div>

  <div class="col-sm-4">
    <img class="homepage-grid-icon" src="//cdn.shopify.com/s/files/1/0691/5403/t/108/assets/cup-icon.svg?6412267337190013828">
    <h5><strong>{% trans "Technical support" %}</strong></h5>
    <p class="text-muted">{% trans "The Enverest team and Expert Network are filled with experienced entrepreneurs and seasoned professionals from a variety of industries and functions. and we'll get back to you ASAP." %}</p>
  </div>
</div>

<hr>

<div class="row row-padded row-bordered row-centered">
  <div class="col-sm-5 col-sm-offset-1">
    <h4><strong>为企业快速成长提供管理咨询</strong></h4>
    <p class="m-b-md">帮助快速成长的企业制定并实施
​商业发展及企业管理策略</p>
    <a class="btn btn-primary" target="_blank" href="http://bootstrap-themes.github.io/dashboard/docs/">了解更多</a>
  </div>
  <div class="col-sm-6">
    <img src="{% static 'images/growth.jpg' %}" alt="Generic placeholder image" style="width:100%;">
  </div>
</div>

  <hr>

<div class="row row-padded row-bordered row-centered">
  <div class="col-sm-6">
    <img src="{% static 'images/globalization.png' %}" alt="Generic placeholder image" style="width:100%;">
  </div>
  <div class="col-sm-5 col-sm-offset-1">
    <h4><strong>为企业全球化发展献策献力</strong></h4>
    <p class="m-b-md">帮助创新型企业扩展海外业务，
​设计和实施全球化发展策略</p>
    <a class="btn btn-primary" target="_blank" href="http://bootstrap-themes.github.io/dashboard/docs/">了解更多</a>
  </div>
</div>

  <hr>

  <div class="row row-padded row-bordered row-centered">
    <div class="col-lg-8">
      <img class="img-circle" src="{% static 'images/global_dotted_map.jpg' %}" alt="Generic placeholder image" style="width:100%;">
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">

      <h2 style="text-align: center; vertical-align: middle;">立足创新，着眼全球</h2>
      <p style="text-align: center; vertical-align: middle;">硅谷｜纽约｜新加坡｜北京</p>
    </div><!-- /.col-lg-4 -->
  </div>

</div> <!-- for Container -->
{% endblock %}
