{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="container">


  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>

  <!-- spaces -->
  <div class="row">
    <div class="col-lg-12">
      <img src="{% static 'images/home.jpg' %}" alt="Generic placeholder image" style="width:100%;">
    </div>
  </div>

  <hr>

<div class="row m-b-lg">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    <h4>
      <strong>{% trans "Meet Professionals and Industry Leaders" %}</strong>
    </h4>
    <p class="m-b-lg">
      {% trans "On-demand insights from dedicated experts and business leaders." %}
    </p>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-2 text-center">
      <a href="search" class="btn btn-primary">Search for Experts</a>
    </div>
    <div class="col-sm-4 text-center">
      <a href="project/create" class="btn btn-primary">Post Your Project</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/simon_cen.jpg' %}">
        <h4 class="card-title">{% trans "Simon Cen" %}</h4>
        <p class="card-text">{% trans "Built strong expertise in Business Development, Operations and Supply Chain Management." %}</p>
        <a href="#" class="btn btn-primary">Hire</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_2.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/person/Cheni_Kwok.jpg' %}">
        <h4 class="card-title">{% trans "Cheni Kwok" %}</h4>
        <p class="card-text">{% trans "Some quick example text to build on the card title and make up the bulk of the card's content." %}</p>
        <a href="#" class="btn btn-primary">Hire</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/alex_zhang.jpg' %}">
        <h4 class="card-title">{% trans "Alex J. Zhang" %}</h4>
        <p class="card-text">{% trans "Business development and marketing leader with extensive experience and network in life sciences" %}</p>
        <a href="#" class="btn btn-primary">Hire</a>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row row-padded text-center">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h4><strong>{% trans "Why choose Enverest?" %}</strong></h4>
    <p class="m-b-md">{% trans "Enverest provides fast-growing companies accessible, affordable, and  interactive advisory services. Together, we offer customized solutions to meet our clients' specialized needs, particularly in developing and executing fast-growth initiatives, and expanding market globally." %}</p>
    <br>
    <img src="{% static 'images/enverest_attributes.png' %}">
    <br>
    <br>
    <a class="btn btn-primary" href="/how_it_works">Learn More</a>
  </div>
</div>

<hr>

<div class="row row-padded text-center">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h4><strong>{% trans "Using the Enverest Connections, our experts can help you with" %}</strong></h4>
  </div>
  <div class="col-sm-12 text-center">
    <br>
    <img src="{% static 'images/enverest_benefits.png' %}">
    <br>
    <br>
    <a class="btn btn-primary" href="/how_it_works">Learn More</a>
  </div>
</div>

<hr>

<div class="row row-padded text-center">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h4><strong>{% trans "Recent projects and success stories" %}</strong></h4>
  </div>
  <div class="col-sm-12 text-center">
    <br>
    <img src="{% static 'images/enverest_benefits.png' %}">
    <br>
    <br>
    <a class="btn btn-primary" href="/project/create">Submit Your Project Request</a>
  </div>
</div>

<hr>

<div class="row row-padded row-bordered row-centered">
  <div class="col-xs-12 col-lg-8">
    <img src="{% static 'images/global_dotted_map.jpg' %}" alt="Generic placeholder image" style="width:100%;">
  </div><!-- /.col-lg-4 -->
  <div class="col-xs-12 col-lg-4">
    <h4 style="text-align: center; vertical-align: middle;">Global Insights, Sustained Impact</h2>
    <p style="text-align: center; vertical-align: middle;">Silicon Valley | New York | Singapore | Beijing</p>
  </div><!-- /.col-lg-4 -->
</div>

</div> <!-- for Container -->
{% endblock %}
