{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<script>
  $(document).ready(function(){
    $(".nav-item.nav-link").removeClass("active");
    $('#service').addClass('active')
  });
</script>

<div class="container">
<br>


<div class="row m-b-lg">
  <div class="col-sm-12">
    <br>
    <br>
    <h4>
      <strong>{% trans "Fast-Growth Strategy and Execution" %}</strong>
    </h4>
    <p class="m-b-lg">
      {% trans "The Enverest team and Expert Network are filled with experienced entrepreneurs and seasoned professionals from a variety of industries and functions. We know what it takes for startups and Small-and-Mid size business (SMB) to achieve accelerated growth." %}
    </p>
  </div>
  <div class="col-sm-7">
    <h5>
      Our services include
    </h5>
    <ul>
      <li>
        {% trans "Business development and partnership" %}
      </li>
      <li>
        {% trans "Operations improvement" %}
      </li>
      <li>
        {% trans "Technical advice and guidance" %}
      </li>
      <li>
        {% trans "Organizational structure planning" %}
      </li>
      <li>
        {% trans "Performance management" %}
      </li>
      <li>
        {% trans "Product launch readiness" %}
      </li>
      <li>
        {% trans "Marketing and branding strategies" %}
      </li>
    </ul>
  </div>
  <div class="col-sm-5">
    <img src="{% static 'images/service/service_1.png' %}" style="width:100%">
  </div>
</div>

<div class="row m-b-lg">
  <div class="col-sm-12">
    <br>
    <br>
    <h4>
      <strong>{% trans "Global Market Expansion" %}</strong>
    </h4>
    <p class="m-b-lg">
      {% trans "Once have achieved success in the home market, many entrepreneurs and business leaders feel they're ready to take on the next step: global market expand. We have the deep knowledge and expertise to help your business expand in most major international markets including North America, China, Southeast Asia, etc." %}
    </p>
  </div>
  <div class="col-sm-7">
    <h5>
      Our services include
    </h5>
    <ul>
      <li>
        {% trans "Cross-border operations" %}
      </li>
      <li>
        {% trans "Market and industry research" %}
      </li>
      <li>
        {% trans "Business model localization" %}
      </li>
      <li>
        {% trans "Market entry and competition" %}
      </li>
      <li>
        {% trans "International partnership" %}
      </li>
      <li>
        {% trans "Global marketing and branding" %}
      </li>
      <li>
        {% trans "Merger and acquisition​" %}
      </li>
    </li>
  </div>
  <div class="col-sm-5">
    <img src="{% static 'images/service/service_2.png' %}" style="width:100%">
  </div>
</div>

</div> <!-- for Container -->
{% endblock %}
