{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<script>
  $(document).ready(function(){
    $(".nav-item.nav-link").removeClass("active");
    $('#service').addClass('active')
  });
</script>

<div class="container">
<br>


<div class="row m-b-lg">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    <h4>
      <strong>{% trans "Fast-Growth Strategy and Execution" %}</strong>
    </h4>
    <p class="m-b-lg">
      {% trans "The Enverest team and Expert Network are filled with experienced entrepreneurs and seasoned professionals from a variety of industries and functions. We know what it takes for startups and Small-and-Mid size business (SMB) to achieve accelerated growth." %}
    </p>
  </div>
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <div class="card">
      <div class="card-header">
        Our services include
      </div>
      <div class="card-block">
        <p class="card-text">
          <p>
            {% trans "Business development and partnership" %}
          </p>
          <p>
            {% trans "Operations improvement" %}
          </p>
          <p>
            {% trans "Technical advice and guidance" %}
          </p>
          <p>
            {% trans "Organizational structure planning" %}
          </p>
          <p>
            {% trans "Performance management" %}
          </p>
          <p>
            {% trans "Product launch readiness" %}
          </p>
          <p>
            {% trans "Marketing and branding strategies" %}
          </p>
        </p>
        <a href="/account/signup/client" class="btn btn-primary">Register now!</a>
      </div>
    </div>
  </div>
</div>

<div class="row m-b-lg">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    <h4>
      <strong>{% trans "Global Market Expansion" %}</strong>
    </h4>
    <p class="m-b-lg">
      {% trans "Once have achieved success in the home market, many entrepreneurs and business leaders feel they're ready to take on the next step: global market expand. We have the deep knowledge and expertise to help your business expand in most major international markets including North America, China, Southeast Asia, etc." %}
    </p>
  </div>
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <div class="card">
      <div class="card-header">
        Our services include
      </div>
      <div class="card-block">
        <p class="card-text">
          <p>
            {% trans "Cross-border operations" %}
          </p>
          <p>
            {% trans "Market and industry research" %}
          </p>
          <p>
            {% trans "Business model localization" %}
          </p>
          <p>
            {% trans "Market entry and competition" %}
          </p>
          <p>
            {% trans "International partnership" %}
          </p>
          <p>
            {% trans "Global marketing and branding" %}
          </p>
          <p>
            {% trans "Merger and acquisition​" %}
          </p>
        </p>
        <a href="/account/signup/client" class="btn btn-primary">Register now!</a>
      </div>
    </div>
  </div>
</div>

</div> <!-- for Container -->
{% endblock %}
