{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">
<br>
<br>
<br>


<div class="row m-b-lg">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    <h4>
      <strong>{% trans "Meet the Team" %}</strong>
    </h4>
    <p class="m-b-lg">
      {% trans "Enverest is consisted of dedicated consultants (Partners) and a diversified expert network (Experts) that share the passion and mission to  promote innovation & entrepreneurship. Together, we provide business expertise and network to help clients achieve accelerated growth and sustained global success." %}
    </p>
  </div>
</div>


<div class="row">
  <div class="col-md-2 m-b-lg">
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/simon_cen.jpg' %}">
        <h4 class="card-title">{% trans "Simon Cen" %}</h4>
        <p class="card-text">{% trans "Managing Partner, Enverest" %}</p>
        <p class="card-text">{% trans "Expertise: Strategy, Business Development, Operations, Supply Chain, M&A, Entrepreneurship" %}</p>
        <p class="card-text">{% trans "Industry: Hi-tech, Management Consulting, Transportation / Logistics" %}</p>
        <p class="card-text">{% trans "Previous: Mckinsey, Apple, UPS; Cornell, Georgia Tech, ZJU" %}</p>
        <a href="https://www.linkedin.com/in/simon-cen-岑水明-7038341a"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/alex_zhang.jpg' %}">
        <h4 class="card-title">{% trans "Alex Zhang" %}</h4>
        <p class="card-text">{% trans "Managing Partner, Enverest" %}</p>
        <p class="card-text">{% trans "Expertise: Marketing, Business Development, M&A, Entrepreneurship" %}</p>
        <p class="card-text">{% trans "Industry: Life Sciences, Bio-tech, Management Consulting" %}</p>
        <p class="card-text">{% trans "Previous: Amgen, Thermo Fisher Scientific; Texas A&M, Cornell, SDU" %}</p>
        <a href="https://www.linkedin.com/in/alexjzhang"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
      </div>
    </div>
  </div>


  <div class="col-md-2 m-b-lg">
  </div>
</div>

<hr>

<div class="row m-b-lg">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    <h4>
      <strong>{% trans "Meet the experts" %}</strong>
    </h4>
  </div>
</div>


<div class="row">

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/person/Ya-Ru_Chen.jpg' %}">
        <h4 class="card-title">{% trans "Ya-Ru Chen" %}</h4>
        <p class="card-text">{% trans "Academic Dean for China Initiatives and Nicholas H. Noyes Professor of Management, ​Professor of Global Business, Johnson Graduate School of Management, Cornell University (Enverest Advisor)" %}</p>
        <p class="card-text">{% trans "Expertise: Strategy and Management, Management Consulting, Data Analysis" %}</p>
        <p class="card-text">{% trans "Industry: Business School Education and Research" %}</p>
        <p class="card-text">{% trans "Previous: Cornell-Tsinghua FMBA Program, Stern School of Business, NYU; Columbia University" %}</p>
        <a href="https://www.linkedin.com/in/ya-ru-chen-17871712"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/person/Huazhang_Shen.jpg' %}">
        <h4 class="card-title">{% trans "Huazhang Shen" %}</h4>
        <p class="card-text">{% trans "Co-founder and CTO, Kalading (Enverest Advisor)" %}</p>
        <p class="card-text">{% trans "Expertise: Entrepreneurship, Product Design and Management, Social Marketing, Project Management" %}</p>
        <p class="card-text">{% trans "Industry: Mobile Internet, Bio-tech" %}</p>
        <p class="card-text">{% trans "Previous: Kalading, Golfii, GeoWok, Innovation Game International; Cal-tech, USTC" %}</p>
        <a href="https://www.linkedin.com/in/hzshen"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/person/Shawn_Lee.png' %}">
        <h4 class="card-title">{% trans "Shawn Lee" %}</h4>
        <p class="card-text">{% trans "Managing Partner, Enverest" %}</p>
        <p class="card-text">{% trans "Expertise: Entrepreneurship, FDA Regulatory, M&A, Strategic Partnership" %}</p>
        <p class="card-text">{% trans "Industry: Life Sciences, Bio-tech" %}</p>
        <p class="card-text">{% trans "Previous: American Peptide Company; UC-Berkeley, Wuhan University" %}</p>
        <a href="https://www.linkedin.com/in/peptide"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
      </div>
    </div>
  </div>

</div>


<div class="row">

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/person/Brandon_Wang.jpg' %}">
        <h4 class="card-title">{% trans "Brandon Wang" %}</h4>
        <p class="card-text">{% trans "Group Director and Chief Strategy Officer, Cadence (Enverest Advisor)" %}</p>
        <p class="card-text">{% trans "Expertise: Entrepreneurship, Strategy, Management Consulting, Engineering Management, Strategic Partnership" %}</p>
        <p class="card-text">{% trans "Industry: Semiconductor, Hi-tech" %}</p>
        <p class="card-text">{% trans "Previous: Cadence, ARM, CASPA; Wharton, Stanford, Zhejiang University" %}</p>
        <a href="https://www.linkedin.com/in/wangbrandon"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/person/Jeff_Wu.jpg' %}">
        <h4 class="card-title">{% trans "Jeff Wu" %}</h4>
        <p class="card-text">{% trans "COO, ScaleFlux" %}</p>
        <p class="card-text">{% trans "Expertise: Entrepreneurship, Cloud Computing, Project Management, Product Development, Strategic Partnership" %}</p>
        <p class="card-text">{% trans "Industry: Storage, Software" %}</p>
        <p class="card-text">{% trans "Previous: ScaleFlux, Pactera, Wenditel; USC, Tongji University" %}</p>
        <a href="https://www.linkedin.com/in/jeff-wu-9ba5a71"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <img class="panel-profile-img" src="{% static 'images/person/Cheni_Kwok.jpg' %}">
        <h4 class="card-title">{% trans "Cheni Kwok" %}</h4>
        <p class="card-text">{% trans "Managing Partner, Linear Dreams" %}</p>
        <p class="card-text">{% trans "Expertise: Business Development, Corporate Development" %}</p>
        <p class="card-text">{% trans "Industry: Life Sciences, Bio-tech, Pharmaceuticals, Management Consulting" %}</p>
        <p class="card-text">{% trans "Previous: Poniard Pharmaceuticals, Celera, Exelixis, GSK; Cambridge, Imperial College" %}</p>
        <a href="https://www.linkedin.com/in/cheni-kwok-ph-d-clp-%E9%83%AD%E7%8F%8D%E4%BB%AA-499b67"><img class="" src="{% static 'images/In-2C-28px-R.png' %}"></a>
      </div>
    </div>
  </div>

</div>
</div> <!-- for Container -->
{% endblock %}
