{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">
<br>
<br>
<br>


<div class="row m-b-lg">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    <h1>
      <strong>{% trans "Bank Transfer to Beijing, China" %}</strong>
    </h1>
    <p class="m-b-lg">
      {% trans "Wire transfer, bank transfer or credit transfer is a method of electronic funds transfer from one person or entity to another. A wire transfer can be made from one bank account to another bank account or through a transfer of cash at a cash office." %}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 m-b-lg">
  </div>

  <div class="col-md-6 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/bank_transfer_china.jpg' %}" alt="Card image cap" style="height: 250px; width: 100%; display: block;">
      <div class="card-block text-center">
        <h4 class="card-title">{% trans "Beijing, China" %}</h4>
        <p class="card-text">{% trans "Beneficiary Name: Enveret Inc." %}</p>
        <p class="card-text">{% trans "Beneficiary Bank: Some Testing Bank" %}</p>
        <p class="card-text">{% trans "Beneficiary Account Number: 123456789" %}</p>
        <p class="card-text">{% trans "Beneficiary Bank Address: 134th Stree, Beijing, China" %}</p>
        <p class="card-text">{% trans "Beneficiary Bank Swift Code: CITSTGT" %}</p>
        <a href="#" class="btn btn-primary">Have Questions? Contact.</a>
      </div>
    </div>
  </div>

  <div class="col-md-3 m-b-lg">
  </div>
</div>

</div> <!-- for Container -->
{% endblock %}
