{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<script>
  $(document).ready(function(){
    $(".nav-item.nav-link").removeClass("active");
    $('#signup').addClass('active')
  });
</script>

<div class="container">
<br>
<br>
<br>


<div class="row m-b-lg">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    <h4>
      <strong>{% trans "Sign Up" %}</strong>
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-2 m-b-lg">
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_2.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <h4 class="card-title">{% trans "As a member" %}</h4>
        <p class="card-text">{% trans "On-demand access to global expertise" %}</p>
        <p class="card-text">{% trans "Explore wide range of perspectives" %}</p>
        <p class="card-text">{% trans "Connect to the right people instantly" %}</p>
        <p class="card-text">{% trans "Save time and cost" %}</p>
        <a href="client" class="btn btn-primary">{% trans "Sign Up" %}</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/card_1.jpg' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block text-center">
        <h4 class="card-title">{% trans "As an expert" %}</h4>
        <p class="card-text">{% trans "Have the pulse of the latest industry trends" %}</p>
        <p class="card-text">{% trans "Interact with corporate officers, investors, and entrepreneurs" %}</p>
        <p class="card-text">{% trans "Work on strategic, thought-provoking projects" %}</p>
        <p class="card-text">{% trans "Competitive compensation from consulting fees and referral fees" %}</p>
        <a href="consultant" class="btn btn-primary">{% trans "Sign Up" %}</a>
      </div>
    </div>
  </div>

  <div class="col-md-2 m-b-lg">
  </div>
</div>


</div> <!-- for Container -->
{% endblock %}
