{% extends "base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block content %}
    <style>
    ul {
      list-style-type: none;
    }
    span.help-block {
        color: red;
    }

    /* http://stackoverflow.com/questions/23584120/line-before-and-after-title-over-image */
    h3.divider {
      width: 70%;
      margin: .7em auto;
      overflow: hidden;
      text-align: center;
      font-weight:300;
      color: #848484;
    }
    h3.divider:before, h3.divider:after {
      content: "";
      display: inline-block;
      width: 50%;
      margin: 0 .5em 0 -55%;
      vertical-align: middle;
      border-bottom: 1px solid;
    }
    h3.divider:after {
      margin: 0 -55% 0 .5em;
    }
    </style>

    <br>
    <br>
    <br>

    <div class="row">
        {% if not linkedin_signup %}
        <div class="col-md-12">
            <h3 style="text-align: center;">{% trans "Signup with LinkedIn" %}</h3>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <p style="text-align: center;">{% trans "We will only get name, email and profile image from LinkedIn and help you fill in those fields." %}</p>
            </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4 text-center">
            <a href="{{ linkedin_api_link }}"><img src="{% static 'images/signin_with_linkedin-buttons/Non-Retina/Sign-in-Large---Default.png' %}" alt="LinkedIn Signin"></a>
            <br>
            <br>
            <h3 class="divider" style="text-align: center;">{% trans "or" %}</h3>
            <br>
            <h3 style="text-align: center;">{% trans "Signup Now!" %}</h3>
        </div>
        {% else %}
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h3 style="text-align: center;">{% trans "Signup with LinkedIn" %}</h3>
            <p style="text-align: center;">{% trans "We have filled name, email and profile image for you with LinkedIn." %}</p>
        </div>
        {% endif %}

    </div>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form id="signup_form" method="post" action="{% url "consultant_account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}
                {{ form|bootstrap }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                {% if request.session.linkedin_profile_image %}
                <p>{% trans "You have LinkedIn profile image. If you don't want to use another one, this will be your profile image on our website." %}</p>
                <img src="{{ request.session.linkedin_profile_image }}">
                {% endif %}
                <br>
                <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
            </form>
            <p class="login-signup">
                <small>
                    {% trans "Already have an account?" %}  <strong><a href="{% urlnext 'account_login' %}">{% trans "Log in" %}</a></strong>
                </small>
            </p>
        </div>
        <div class="col-md-4">
            {% include "account/_signup_sidebar.html" %}
        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
