{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<script>
  $(document).ready(function(){
    $(".nav-item.nav-link").removeClass("active");
    $('#signup').addClass('active')
  });
</script>

<div class="container">
<br>
<br>
<br>


<div class="row m-b-lg">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    <h4>
      <strong>{% trans "Sign Up" %}</strong>
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-2 m-b-lg">
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/signup/client_signup2.png' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block">
        <h4 class="card-title text-center">{% trans "As a client" %}</h4>
        <ul>
        <li><p class="card-text">{% trans "On-demand access to global expertise" %}</p></li>
        <li><p class="card-text">{% trans "Explore wide range of perspectives" %}</p></li>
        <li><p class="card-text">{% trans "Connect to the right people instantly" %}</p></li>
        <li><p class="card-text">{% trans "Save time and cost" %}</p></li>
        </ul>
        <div class="text-center">
          <a href="client" class="btn btn-primary">{% trans "Sign Up" %}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 m-b-lg">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/signup/expert_signup.png' %}" alt="Card image cap" style="height: 180px; width: 100%; display: block;">
      <div class="card-block">
        <h4 class="card-title text-center">{% trans "As an expert" %}</h4>
        <ul>
        <li><p class="card-text">{% trans "Have the pulse of the latest industry trends" %}</p></li>
        <li><p class="card-text">{% trans "Interact with corporate officers, investors, and entrepreneurs" %}</p></li>
        <li><p class="card-text">{% trans "Work on strategic, thought-provoking projects" %}</p></li>
        <li><p class="card-text">{% trans "Competitive compensation from consulting fees and referral fees" %}</p></li>
        </ul>
        <div class="text-center">
          <a href="consultant" class="btn btn-primary">{% trans "Sign Up" %}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2 m-b-lg">
  </div>
</div>


</div> <!-- for Container -->
{% endblock %}
