

.sep {
    border: 1px solid #72B372;
    position: relative;
    margin: 35px 20px;
}


@media (max-width: 33.9em) {
  .navbar-nav .nav-item {
      margin-left: 0 !important; 
      float: none;
  }
  #nav-logo {
    display: none;
  }
}

@media (max-width: 33.9em) {
  .bd-navbar .nav-link+.nav-link {
      margin-left: 0;
  }
}

img {
    vertical-align: middle;
}

header {
	display: block;
}


.navbar {
    position: relative;
    padding: .5rem 1rem;
}

.navbar-nav .nav-link {
    display: block;
    padding-top: .425rem;
    padding-bottom: .425rem;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}


.row-padded {
    padding-top: 80px;
    padding-bottom: 90px;
}

.row-bordered {
    position: relative;
}

.row-centered {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.p-t {
    padding-top: 15px !important;
}

.template-index h3 {
    font-size: 21px;
    margin-bottom: 12px;
}

.m-b-lg {
    margin-bottom: 45px !important;
}

.template-index h4 {
    color: #697176;
    line-height: 1.6;
}

.text-center {
    text-align: center;
}
.panel-profile-img {
    max-width: 150px;
    margin-top: -100px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}


.footer {
    position: relative;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #dcdfe4;
}

.footer-list, .footer-social-buttons {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
}
/*ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}*/

.footer-list-item, .footer-social-buttons li {
    display: inline-block;
}