{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load expert_tags %}

{% block content %}

<style>

 h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

 li img {
  float: left;
  margin: 0 15px 0 0;
}

 li p {
  font: 1000 12px/1.5 Georgia, Times New Roman, serif;
}

 li {
  padding: 10px;
  overflow: auto;
}

 .expert-list:hover {
  background: #eee;
  cursor: pointer;
}
</style>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">




      <h2>{% trans "Invite Experts to a Project" %}</h2>
      <form action="{% url 'search:expert-list' %}" method="GET">{% csrf_token %}
      <div class="row">
        <div class="col-sm-2">
          <h5>{% trans "Industry" %}</h5>
        </div>
        <div class="col-sm-10">
          <select name="industry" class="form-control">
            <option id="industryALL" value="ALL">{% trans "All" %}</option>
            <option id="industryMC" value="MC">{% trans "Management Consulting" %}</option>
            <option id="industryEN" value="EN">{% trans "Energy" %}</option>
            <option id="industryHI" value="HI">{% trans "Health care and Life Sciences" %}</option>
            <option id="industryBI" value="BI">{% trans "BioPharma" %}</option>
            <option id="industryED" value="ED">{% trans "Education" %}</option>
            <option id="industrySE" value="SE">{% trans "Semiconductor" %}</option>
            <option id="industrySW" value="SW">{% trans "Software" %}</option>
            <option id="industryMB" value="MB">{% trans "Mobile Internet and Computing" %}</option>
            <option id="industryDS" value="DS">{% trans "Data and Storage" %}</option>
            <option id="industryVR" value="VR">{% trans "VR/AI/Robotics" %}</option>
            <option id="industryIT" value="IT">{% trans "Internet of Things" %}</option>
            <option id="industryGB" value="GB">{% trans "Gaming and Media" %}</option>
            <option id="industryET" value="ET">{% trans "Entertainment" %}</option>
            <option id="industryTL" value="TL">{% trans "Transport and Logistics" %}</option>
            <option id="industryAU" value="AU">{% trans "Automotive" %}</option>
            <option id="industryCG" value="CG">{% trans "Consumer Goods" %}</option>
            <option id="industryOT" value="OT">{% trans "Others" %}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <h5>{% trans "Expertise" %}</h5>
        </div>
        <div class="col-sm-10">
          <select name="expertise" class="form-control">
            <option id="expertiseALL" value="ALL">{% trans "All" %}</option>
            <option id="expertiseST" value="ST">{% trans "Strategy" %}</option>
            <option id="expertiseBD" value="BD">{% trans "Business Development and Sales" %}</option>
            <option id="expertiseSP" value="SP">{% trans "Strategic Partnership" %}</option>
            <option id="expertiseMK" value="MK">{% trans "Marketing" %}</option>
            <option id="expertiseMT" value="MT">{% trans "Market Research" %}</option>
            <option id="expertiseOS" value="OS">{% trans "Operations and Supply Chain" %}</option>
            <option id="expertiseMA" value="MA">{% trans "Merger and Acquisition" %}</option>
            <option id="expertiseDA" value="DA">{% trans "Data Analytics" %}</option>
            <option id="expertiseSE" value="SE">{% trans "Software Engineering" %}</option>
            <option id="expertisePJ" value="PJ">{% trans "Project Management" %}</option>
            <option id="expertisePD" value="PD">{% trans "Product Design and Development" %}</option>
            <option id="expertisePM" value="PM">{% trans "Product Management" %}</option>
            <option id="expertiseEN" value="EN">{% trans "Entrepreneurship" %}</option>
            <option id="expertiseCC" value="CC">{% trans "Cloud Computing" %}</option>
            <option id="expertiseAD" value="AD">{% trans "Advertisement" %}</option>
            <option id="expertiseCL" value="CL">{% trans "Corporate Law" %}</option>
            <option id="expertiseCF" value="CF">{% trans "Corporate Finance" %}</option>
            <option id="expertiseAT" value="AT">{% trans "Accounting and Taxation" %}</option>
            <option id="expertiseOT" value="OT">{% trans "Others" %}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <h5>{% trans "Experience" %}</h5>
        </div>
        <div class="col-sm-10">
          <select name="experience" class="form-control">
            <option id="experienceALL" value="ALL">{% trans "All" %}</option>
            <option id="experienceA" value="A">{% trans "1-5 years" %}</option>
            <option id="experienceB" value="B">{% trans "5-10 years" %}</option>
            <option id="experienceC" value="C">{% trans "10-15 years" %}</option>
            <option id="experienceD" value="D">{% trans " >15 years" %}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <h5>{% trans "Area" %}</h5>
        </div>
        <div class="col-sm-10">
          <select name="area" class="form-control">
            <option id="areaALL" value="ALL">{% trans "All" %}</option>
            <option id="areaUS" value="US">{% trans "United States" %}</option>
            <option id="areaCN" value="CN">{% trans "China" %}</option>
            <option id="areaSN" value="SN">{% trans "Singapore" %}</option>
            <option id="areaJP" value="JP">{% trans "Japan" %}</option>
            <option id="areaOT" value="OT">{% trans "Other" %}</option>
          </select>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-12">
          <br>
          <button class="pure-button pure-button-primary" type="submit" value="Submit" > Search </button>
        </div>
      </div>
      <script>
      function getQueryVariable(variable)
      {
             var query = window.location.search.substring(1);
             var vars = query.split("&");
             for (var i=0;i<vars.length;i++) {
                     var pair = vars[i].split("=");
                     if(pair[0] == variable){return pair[1];}
             }
             return(false);
      }

      function setSelectedIndex(s)
      {
        s.selected = true;
        return;
      }
      var strIndustryName = "industry";
      var strIndustryVal = getQueryVariable("industry");
      var strIndustryConcat = strIndustryName.concat(strIndustryVal);

      var strExpertiseName = "expertise";
      var strExpertiseVal = getQueryVariable("expertise");
      var strExpertiseConcat = strExpertiseName.concat(strExpertiseVal);

      var strExperienceName = "experience";
      var strExperienceVal = getQueryVariable("experience");
      var strExperienceConcat = strExperienceName.concat(strExperienceVal);

      var strAreaName = "area";
      var strAreaVal = getQueryVariable("area");
      var strAreaConcat = strAreaName.concat(strAreaVal);

      setSelectedIndex(document.getElementById(strIndustryConcat));
      setSelectedIndex(document.getElementById(strExpertiseConcat));
      setSelectedIndex(document.getElementById(strExperienceConcat));
      setSelectedIndex(document.getElementById(strAreaConcat));
      </script>

      <br>
      <br>
      <div class="col-sm-12">
      <br>
      <br>
      {% if expert_list %}
        <div class="row">
          <div class="col-sm-12">
            {% for expert in expert_list %}
            <div class="row expert-list">
              <a href="/profile/{{ expert.user.username }}">
              <div class="col-sm-3 col-xs-4">
                {% if expert.id in can_views %}
                <img src="/media/{{ expert.user.username }}.jpg" style="width:100%" onerror="this.src='{% static '/images/empty_headshot.jpg' %}';" />
                {% else %}
                <img src="/static/images/empty_headshot.jpg" style="width:100%" onerror="this.src='{% static '/images/empty_headshot.jpg' %}';" />
                {% endif %}
              </div>
              </a>
              <div class="col-sm-9 col-sm-8">
                <h3>
                  <a href="/profile/{{ expert.user.username }}">{{ expert.user }}</a>
                </h3>
                {% if expert.rating != 0 %}
                <div style="margin-top:-0.8em">
                  <p class='text-muted'><img src="{% static '/images/rating/star_' %}{{ expert.rating | half_round_rating}}.gif"/>&nbsp {{ expert.comments_num}} reviews</p>
                </div>
                {% endif %}
                <p>{{ expert.description_text}}</p>
                <p>{{ expert.email}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
          {% if is_paginated %}
              <div class="pagination" >
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <ul class="pager">
                          <a id="prePage" href="?page={{ page_obj.previous_page_number }}">previous</a>
                          </ul>
                          <script>
                           var prePage = document.getElementById("prePage");
                           var originalString = prePage.getAttribute("href");
                           if(getQueryVariable("industry") != false)
                           {
                             var concatStr = originalString.concat(
                               "&industry=",getQueryVariable("industry"),
                               "&expertise=",getQueryVariable("expertise"),
                               "&experience=",getQueryVariable("experience"),
                               "&area=",getQueryVariable("area"));
                             prePage.setAttribute("href", concatStr);
                           }
                          </script>
                      {% endif %}
                      <span class="page-current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <ul class="pager">
                          <a id="nextPage" href="?page={{ page_obj.next_page_number }}">next</a>
                          </ul>
                          <script>
                           var prePage = document.getElementById("nextPage");
                           var originalString = prePage.getAttribute("href");
                           if(getQueryVariable("industry") != false)
                           {
                             var concatStr = originalString.concat(
                               "&industry=",getQueryVariable("industry"),
                               "&expertise=",getQueryVariable("expertise"),
                               "&experience=",getQueryVariable("experience"),
                               "&area=",getQueryVariable("area"));
                             prePage.setAttribute("href", concatStr);
                           }
                          </script>
                      {% endif %}
                  </span>
              </div>
          {% endif %}
      {% else %}
          <h3>{% trans "Experts" %}</h3>
          <p>{% trans "No experts found in this area, please change search condition" %}</p>
      {% endif %}
      </div>


    </div>
  </div>
</div> <!-- for Container -->
{% endblock %}
