{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">
<br>


<div class="row m-b-lg">
  {% if profile_user == user %}
  <a class="btn btn-primary" href="/profile/edit">Edit User Profile</a>
  {% endif %}
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <br>
    <br>
    {% if is_expert %}
    <h4>
      <strong>{% trans "Expert Profile" %}</strong>
    </h4>
    {% else %}
    <h4>
      <strong>{% trans "Client Profile" %}</strong>
    </h4>
    {% endif %}
    {% if person %}
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          {% if can_view_personal_info %}
          <img src="/media/{{ profile_user.username }}.jpg" style="width:100%" onerror="this.src='/static/images/empty_headshot.bmp';"/>
          {% else %}
          <img src="/static/images/empty_headshot.bmp" style="width:100%" onerror="this.src='/static/images/empty_headshot.bmp';"/>
          {% endif %}
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <p>Username: {{ profile_user.username }}</p>
    {% endif %}
  </div>

  <div class="col-sm-8 col-sm-offset-2">
    {% if is_expert %}
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Summary</h4>
        <p>{{ person.description_text }}</p>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="col-sm-4 col-sm-offset-2 text-center">
    <div class="card">
      <div class="card-block text-center">
        <h4 class="card-title">User Information</h4>
        {% if can_view_personal_info %}
        <p>First name: {{ profile_user.first_name }}</p>
        <p>Last name: {{ profile_user.last_name }}</p>
          {% if user_profile.work_phone_number %}
          <p>Work Phone number: {{user_profile.work_phone_number}}
          {% endif %}
          {% if user_profile.cell_phone_number %}
          <p>Cell Phone number: {{user_profile.cell_phone_number}}
          {% endif %}
          {% if user_profile.title %}
          <p>Title: {{user_profile.title}}
          {% endif %}
          {% if user_profile.company %}
          <p>Company: {{user_profile.company}}
          {% endif %}
        <p>Email: {{ profile_user.email }}</p>
        {% else %}
          {% if is_expert %}
          <i class="fa fa-lock fa-lg"></i>
          <p>You havn't worked with this expert before. Personal information of this expert is hidden.</p>
          {% else %}
          <p>Personal information is hidden.</p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-sm-4 text-center">
    <div class="card">
      <div class="card-block text-center">

        {% if is_expert %}
        <h4 class="card-title">Expert Profile</h4>
        {% else %}
        <h4 class="card-title">Client Profile</h4>
        {% endif %}
        {% if person %}
          {% if is_expert %}
          <p>Status: <b>{{ person.get_status }}</b></p>
          <p>Area: <b>{{ person.get_area }}</b></p>
          <p>Experience: <b>{{ person.get_experience }}</b></p>
          <p>Expertise: <b>{{ person.get_expertise }}</b></p>
          <p>Industry: <b>{{ person.get_industry }}</b></p>
          {% if person.education %}
          <p>Education: {{person.education}}
          {% endif %}
          {% if person.company %}
          <p>Company: {{person.company}}
          {% endif %}
          {% else %}
          <p>Client doesn't have any fields now.</p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

</div> <!-- for Container -->
{% endblock %}
